h1
    {color: darkblue;
    font-size: 60px;}
.fname {color: lime; font-weight: bold;}
.myemail {color: aqua;  font-weight: bold;}
.myid {color: blue;  font-weight: bold;}
.mygender{color: coral; font-weight: bold;}
.mymessage{color: crimson; font-weight: bold;}
.mybutton{background-color: black; color: white; height: 40px;}